<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100303_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,238},{216,182}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,133},{216,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,186},{202,178}}</string>
                <key>offset</key>
                <string>{14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,137},{202,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,628},{246,234}}</string>
                <key>offset</key>
                <string>{81,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,3},{246,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,316},{236,212}}</string>
                <key>offset</key>
                <string>{97,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,1},{236,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{202,308}}</string>
                <key>offset</key>
                <string>{150,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,16},{202,308}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,312}}</string>
                <key>offset</key>
                <string>{125,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,24},{262,312}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{310,208}}</string>
                <key>offset</key>
                <string>{101,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,128},{310,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{208,234}}</string>
                <key>offset</key>
                <string>{109,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,88},{208,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,366},{192,200}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,116},{192,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{210,182}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,132},{210,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{216,180}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,134},{216,180}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100303.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f77bf2154cc195e5e33fb70a041dcd9:82664a8051548387f2fbf409e9a136d1:826363a7474d7176e4c789daa5c74ecd$</string>
            <key>textureFileName</key>
            <string>100303.pvr.ccz</string>
        </dict>
    </dict>
</plist>
