<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100303_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{230,108}}</string>
                <key>offset</key>
                <string>{-40,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,228},{230,108}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{324,294}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,42},{324,294}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{312,324}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,11},{312,324}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,334}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{396,334}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100303_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,338},{166,210}}</string>
                <key>offset</key>
                <string>{-19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,120},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100303_fx.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0e554855b7be19f0f0ff84a33030d9a:4a94499cd8300d9e41108f44aeb14248:71189b0951cdbd526ce70b2e081696a7$</string>
            <key>textureFileName</key>
            <string>100303_fx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
