<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,366},{214,186}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,128},{214,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,366},{218,182}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,131},{218,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,366},{226,182}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,132},{226,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{226,194}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,124},{226,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,224},{232,176}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,128},{232,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,596},{232,148}}</string>
                <key>offset</key>
                <string>{-6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,168},{232,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,553},{226,106}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,208},{226,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,661},{226,106}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,208},{226,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,550},{224,106}}</string>
                <key>offset</key>
                <string>{-2,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,209},{224,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,550},{224,106}}</string>
                <key>offset</key>
                <string>{-2,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,209},{224,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,366},{214,186}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,128},{214,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,366},{218,182}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,131},{218,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,366},{226,182}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,132},{226,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,366},{218,182}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,131},{218,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,366},{214,186}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,128},{214,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,412},{217,186}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,113},{217,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,434},{219,188}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,112},{219,188}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,402},{221,192}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,109},{221,192}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,550},{219,192}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,109},{219,192}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,554},{217,194}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,107},{217,194}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,218},{217,192}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,109},{217,192}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,336},{215,190}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,110},{215,190}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,362},{217,186}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,113},{217,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_jump_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{266,202}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,99},{266,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{256,222}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,100},{256,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,220}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,102},{258,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{258,218}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,104},{258,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{258,214}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,108},{258,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{256,214}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,108},{256,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{258,216}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,106},{258,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,224}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,98},{258,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_victory_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{256,222}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,100},{256,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,550},{162,212}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,104},{162,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,600},{154,218}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,104},{154,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,222},{142,230}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,87},{142,230}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,206},{128,240}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,78},{128,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,230},{130,222}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,98},{130,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,220},{144,210}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,112},{144,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,624},{148,206}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,107},{148,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,218},{170,214}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,99},{170,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003.pvr.ccz</string>
            <key>size</key>
            <string>{2026,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38df7af5e1bd8de2ada1de00010ff854:0961465ae113f338c06a203ff1908082:14217c9f676baffcb5ea48f6c1cf12b4$</string>
            <key>textureFileName</key>
            <string>1003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
