<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100302_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{251,172}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,122},{251,172}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1177},{219,192}}</string>
                <key>offset</key>
                <string>{-84,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,122},{219,192}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,798},{171,216}}</string>
                <key>offset</key>
                <string>{-40,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,80},{171,216}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1072},{249,194}}</string>
                <key>offset</key>
                <string>{-29,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,102},{249,194}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,385},{255,186}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,110},{255,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,971},{205,204}}</string>
                <key>offset</key>
                <string>{-99,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,90},{205,204}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,798},{297,182}}</string>
                <key>offset</key>
                <string>{50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,117},{297,182}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{293,182}}</string>
                <key>offset</key>
                <string>{29,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,113},{293,182}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,881},{189,184}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{189,184}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,642},{237,186}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,111},{237,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-240,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{481,211}</string>
            </dict>
            <key>100302_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-240,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{481,211}</string>
            </dict>
            <key>100302_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-240,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{481,211}</string>
            </dict>
            <key>100302_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1323},{191,200}}</string>
                <key>offset</key>
                <string>{63,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,51},{191,200}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{381,160}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,95},{381,160}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{363,158}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{363,158}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{381,232}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{381,232}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{315,200}}</string>
                <key>offset</key>
                <string>{52,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,105},{315,200}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,668},{345,128}}</string>
                <key>offset</key>
                <string>{53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{345,128}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>100302_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-240,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{481,211}</string>
            </dict>
            <key>100302_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,668},{114,112}}</string>
                <key>offset</key>
                <string>{-15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,153},{114,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100302_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,982},{276,270}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,64},{276,270}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100302_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,330},{384,336}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{384,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100302_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{402,326}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{402,326}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100302_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,334}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{446,334}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100302.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a275f4ee58951aafd108baca20a64ac:bb66dd51f77ac2b1d82af826c8bc922b:fd7bfd6578a869c2bb219b5d27e63715$</string>
            <key>textureFileName</key>
            <string>100302.pvr.ccz</string>
        </dict>
    </dict>
</plist>
