<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100301_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,222},{198,208}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,106},{198,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{214,244}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{214,244}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{242,220}}</string>
                <key>offset</key>
                <string>{-35,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,93},{242,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,404},{248,208}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,109},{248,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{366,194}}</string>
                <key>offset</key>
                <string>{61,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,133},{366,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{272,240}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,82},{272,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,198},{204,274}}</string>
                <key>offset</key>
                <string>{73,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,48},{204,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,614},{132,242}}</string>
                <key>offset</key>
                <string>{31,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,72},{132,242}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,822},{180,220}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,94},{180,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,606},{214,192}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,123},{214,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,258}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{450,258}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,198},{90,84}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,166},{90,84}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,456},{148,154}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,133},{148,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,262},{174,192}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,124},{174,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{218,198}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,111},{218,198}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,284},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100301.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb7e3dc11b5f9268e52bcc4fb3c9fc5a:ec712255faef5a76ffbd93b526b4f61d:67581ee498c220df929b4b4169ab85eb$</string>
            <key>textureFileName</key>
            <string>100301.pvr.ccz</string>
        </dict>
    </dict>
</plist>
