<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100304_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{216,182}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,133},{216,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,454},{184,196}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,120},{184,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,558},{174,234}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,86},{174,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{234,176}}</string>
                <key>offset</key>
                <string>{91,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{234,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{246,146}}</string>
                <key>offset</key>
                <string>{89,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,181},{246,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,458},{246,146}}</string>
                <key>offset</key>
                <string>{89,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,188},{246,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,734},{218,174}}</string>
                <key>offset</key>
                <string>{68,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,144},{218,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{246,176}}</string>
                <key>offset</key>
                <string>{69,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,142},{246,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,278},{264,178}}</string>
                <key>offset</key>
                <string>{75,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,140},{264,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{266,180}}</string>
                <key>offset</key>
                <string>{70,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,138},{266,180}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,374},{258,182}}</string>
                <key>offset</key>
                <string>{67,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,136},{258,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,184},{264,188}}</string>
                <key>offset</key>
                <string>{65,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,130},{264,188}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,652},{190,218}}</string>
                <key>offset</key>
                <string>{41,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,101},{190,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,910},{204,188}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,127},{204,188}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,278},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1024},{144,134}}</string>
                <key>offset</key>
                <string>{-67,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,146},{144,134}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,250},{168,202}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,104},{168,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,844},{208,200}}</string>
                <key>offset</key>
                <string>{-63,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,70},{208,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,814},{216,208}}</string>
                <key>offset</key>
                <string>{-65,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{216,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{218,202}}</string>
                <key>offset</key>
                <string>{-67,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{218,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,606},{230,206}}</string>
                <key>offset</key>
                <string>{-65,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,49},{230,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{274,274}}</string>
                <key>offset</key>
                <string>{-69,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{274,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100304_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,308}}</string>
                <key>offset</key>
                <string>{-63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{302,308}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100304.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4c9d92b8b9ff81344532002ad6c7ffa:7a583a8bb5f60a88b6b7a091f1de3516:272b8a9eb8130119817b33868ca926fb$</string>
            <key>textureFileName</key>
            <string>100304.pvr.ccz</string>
        </dict>
    </dict>
</plist>
