<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900501_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,932},{84,112}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,168},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,932},{82,114}}</string>
                <key>offset</key>
                <string>{-27,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,168},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,932},{84,116}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,161},{84,116}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,802},{126,108}}</string>
                <key>offset</key>
                <string>{-22,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,152},{126,108}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,800},{126,116}}</string>
                <key>offset</key>
                <string>{-24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,151},{126,116}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,894},{126,140}}</string>
                <key>offset</key>
                <string>{-24,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,153},{126,140}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,622},{128,148}}</string>
                <key>offset</key>
                <string>{-24,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,153},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,620},{124,178}}</string>
                <key>offset</key>
                <string>{-21,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,142},{124,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,324},{300,148}}</string>
                <key>offset</key>
                <string>{67,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,187},{300,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,604},{308,92}}</string>
                <key>offset</key>
                <string>{92,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,224},{308,92}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{306,110}}</string>
                <key>offset</key>
                <string>{99,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,198},{306,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,698},{308,102}}</string>
                <key>offset</key>
                <string>{86,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,181},{308,102}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,928},{82,112}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,168},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,248},{224,106}}</string>
                <key>offset</key>
                <string>{-102,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,145},{224,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{444,122}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,143},{444,122}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{422,160}}</string>
                <key>offset</key>
                <string>{-45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,115},{422,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,310}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{440,310}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{440,292}}</string>
                <key>offset</key>
                <string>{-34,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{440,292}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{340,320}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,16},{340,320}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_impact_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{244,214}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,91},{244,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_pjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,356},{262,128}}</string>
                <key>offset</key>
                <string>{-37,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,140},{262,128}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_pjt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,474},{310,128}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,140},{310,128}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_pjt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,356},{264,128}}</string>
                <key>offset</key>
                <string>{-35,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,140},{264,128}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900501_pjt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,802},{266,128}}</string>
                <key>offset</key>
                <string>{-35,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,140},{266,128}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>900501.pvr.ccz</string>
            <key>size</key>
            <string>{1016,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb026111477c53b043e5111bb948b1e:3f717bb9978a3db35a70685d037cacf2:87a7a29a6e8a0d703895a91014605806$</string>
            <key>textureFileName</key>
            <string>900501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
