<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9005_appear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,428},{168,158}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,136},{168,158}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,428},{164,164}}</string>
                <key>offset</key>
                <string>{39,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,93},{164,164}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,762},{168,156}}</string>
                <key>offset</key>
                <string>{51,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,74},{168,156}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,428},{170,162}}</string>
                <key>offset</key>
                <string>{44,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,70},{170,162}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,592},{168,158}}</string>
                <key>offset</key>
                <string>{32,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,48},{168,158}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,592},{140,140}}</string>
                <key>offset</key>
                <string>{36,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,22},{140,140}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,464},{144,132}}</string>
                <key>offset</key>
                <string>{46,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,3},{144,132}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,328},{146,134}}</string>
                <key>offset</key>
                <string>{40,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,0},{146,134}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,734},{132,124}}</string>
                <key>offset</key>
                <string>{26,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{472,5},{132,124}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,594},{110,110}}</string>
                <key>offset</key>
                <string>{31,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,464},{70,64}}</string>
                <key>offset</key>
                <string>{35,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,79},{70,64}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,536},{64,66}}</string>
                <key>offset</key>
                <string>{19,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,96},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,340},{60,62}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,120},{60,62}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,906},{88,76}}</string>
                <key>offset</key>
                <string>{21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,168},{88,76}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,812},{82,92}}</string>
                <key>offset</key>
                <string>{23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,211},{82,92}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,798},{100,108}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,212},{100,108}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,920},{98,88}}</string>
                <key>offset</key>
                <string>{-53,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,198},{98,88}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,598},{96,116}}</string>
                <key>offset</key>
                <string>{-54,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,169},{96,116}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,594},{84,112}}</string>
                <key>offset</key>
                <string>{-48,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,168},{84,112}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_appear_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,592},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9005_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,920},{88,108}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,170},{88,108}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{324,234}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,98},{324,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{372,336}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{372,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,336}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{434,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{416,276}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{416,276}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{378,202}}</string>
                <key>offset</key>
                <string>{-28,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{378,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,280},{368,146}}</string>
                <key>offset</key>
                <string>{-40,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{368,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{272,118}}</string>
                <key>offset</key>
                <string>{-34,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{272,118}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,908},{84,112}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,168},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,708},{92,112}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,168},{92,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,882},{104,110}}</string>
                <key>offset</key>
                <string>{-38,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,169},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,328},{98,106}}</string>
                <key>offset</key>
                <string>{-38,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,170},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,706},{90,110}}</string>
                <key>offset</key>
                <string>{-26,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,167},{90,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,908},{84,112}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,168},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,822},{84,112}}</string>
                <key>offset</key>
                <string>{-21,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,168},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,868},{84,114}}</string>
                <key>offset</key>
                <string>{-19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,168},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,696},{82,114}}</string>
                <key>offset</key>
                <string>{-18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,170},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,696},{84,114}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,170},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,908},{84,114}}</string>
                <key>offset</key>
                <string>{-20,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,170},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,812},{84,114}}</string>
                <key>offset</key>
                <string>{-22,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,169},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9005_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,898},{82,112}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,168},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9005.pvr.ccz</string>
            <key>size</key>
            <string>{1100,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a65397e1d324e978f3a8c950290564d4:bb7041cb5d89970b7b75bfc979591096:e1df3f05501a92411946301ebaafbae8$</string>
            <key>textureFileName</key>
            <string>9005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
